html body {
	background: #eef1f3;
	padding: 0px 0 0 0;
	font-weight:normal;
}

body #header {
	width: auto;
	background: #2db9e2;
}

body #header-top {
	width: 1120px;
	margin: 0 auto;
	height: 81px;
}

body #menu-family {
	position: absolute;
	margin: 0 -560px;
	padding: 0px;
	font-size: 0px;
	width: 1120px;
	left: 50%;
	height: 24px;
	background: none;
}

body #menu-family span {
	display: inline-block;
	position: relative;
	line-height: 24px;
	color: rgba(0,0,0,0.6);
	font-size: 12px;
	padding: 0 14px 0 0;
}

body #menu-family a {
	height: 24px;
	line-height: 25px;
	background: #eef1f3;
	margin: 0px;
	font-size: 12px;
	padding: 0 10px 0 15px;
	margin: 0px 0 0 -3px;
	color: #79888c;
}

body #menu-family a:first-of-type {
	border-radius: 0 0 0 2px;
	padding-left:24px;
}

body #menu-family a:last-of-type {
	border-radius: 0 0 2px 0;
	padding-right: 18px;
}

body #menu-family a:before {
	left: 5px;
	width: 6px;
	height: 6px;
	border-radius: 1px;
	top: 10px
}

body #menu-family a:first-of-type:before {
	left: 14px;
}

body #header h1 {
	margin: 20px 0 0 0;
}

body #header h2 {
	font-size: 13px;
	font-weight: normal;
	color: rgba(0,0,0,0.6);
	margin-top: 40px
}

body #menu-main {
	margin: 24px 0 0 0;
}

body #menu-main a {
	font-size: 14px;
	height: 57px;
	line-height: 57px;
	display: block;
	float: left;
	padding: 0 18px;
	margin-left: 0;
	transition: all ease-in-out 0.3s;
}

body #menu-main a:before {
	display: none;
}

body #menu-main a:hover {
	background: #40c3e6;
	text-decoration: none;
}

body #header-bottom {
	position: relative;
	border: none;
	height: 41px
}

body #menu-heading {
	position: absolute;
	left: 50%;
	width: 560px;
	margin: 0 0 0 -560px;
}

body #menu-heading a {
	border: none !important;
	height: 41px;
	line-height: 41px;
	padding: 0 18px;
	margin: 0;
	color: rgba(255,255,255,0.85);
	float: left;;
}

body #menu-heading a:hover, body #menu-heading a.active {
	background: #282828
}

body #search-top {
	position: absolute;
	right: 50%;
	margin: 0 -560px 0 0;
}

body #search-top input[type="search"] {
	height: auto;
	padding: 12px 12px 11px 35px;
	border: none;
	background: #282828;
	font-weight: normal;
	outline: none;
}

body #search-top button {
	background: none;
	width: 41px;
	height: 41px;
	top: -1px;
	left: -2px;
	right: auto;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	padding: 0;
}

body #search-top button:before {
	font-family: 'FontAwesome';
	content: '\f002';
}

body #search-top-filter {
	top: 41px;
	right: 0px;
	padding-bottom: 10px;
	width: 274px;
}

body #search-top-filter .section {
	border: none;
	padding: 0 0 10px 0;
}

body #search-top-filter label {
	width: 115px
}

body #content {
	width: auto;
	background: none;
}

body #article-featured {
	width: 740px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: top center;
	height: 480px !important;
	border: none;
}

body #article-featured .article-title {
	width: auto;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;	
	background: #fff;
	height: 151px !important;
	border-top: 4px solid;
}


body #article-featured .article-title .wrap {
	left: 20px;
	bottom: 20px;
	right: 20px;
	top: 50px;
}

body #article-featured .article-title .wrap h3 {
	font-weight: bold;
	font-size: 25px;
	color: #322f39;
	width: auto;
	padding: 0px;
	background: none;
	margin: 0 0 14px;
	
}

body #article-featured .article-title .wrap span {
	background: none;
	width: auto;
	padding: 0;
	font-size: 14px;
	line-height: 24px;
	color: #586062;
}

body #article-featured.blue-border-top .article-title {border-color: #1eb8e4;}
body #article-featured.green-border-top .article-title {border-color: #b9e860;}
body #article-featured.cyan-border-top .article-title {border-color: #4ac0b1;}
body #article-featured.yellow-border-top .article-title {border-color: #f4d738;}

body .blue-border-top .article-title:before {content:'IT / Tech';color:#1eb8e4;}
body .green-border-top .article-title:before {content:'Tudomány';color:#b9e860;}
body .cyan-border-top .article-title:before {content:'Film';color:#4ac0b1;}
body .yellow-border-top .article-title:before {content:'Játék';color: #f4d738;}

body .article-title:before {
	display: block;
	margin: 18px 0 0 20px;
}

body #article-featured .article-title:hover {
	opacity: 1;
	background: #fff;
}

body #article-main.article-main-slide1 .article-block3 {
	height: 105px;
	width: 360px;
	background: #fff;
	margin: 0 0 20px 0;
	border-top-width: 4px;
}

body #article-main .article-title:after {display: none;}

body .article-block .article-title {
	padding: 0;
	height: auto !important;
	line-height: normal !important;
}

body .article-block .article-title h4,
body .article-block .article-title h5 {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 18px;
	line-height: 24px !important;
	color: #322f39;
	padding-top: 2px 0 0 0;
}

body .article-block .article-title:hover {
	background: #fff !important;
}

body #article-main.article-main-slide1 .article-block3.article-block-img {
	height: 142px;
	border-top: none;
}

body #article-main.article-main-slide1 .article-block3.article-block-img .article-title:before {
	position: absolute;
	left: 100px;
}

body #article-main.article-main-slide1 .article-block3.article-block-img img {
	width: 96px;
	height: 142px;
}

body #article-main.article-main-slide1 .article-block3.article-block-img h4 {
	width: 220px;
	float: right;
	width: 220px;
	padding-top:50px;
}

body .article-block-img img {
	border-right:4px solid;
}

body .article-block-img.blue-border-top img {border-color: #1eb8e4;}
body .article-block-img.green-border-top img {border-color: #b9e860;}
body .article-block-img.cyan-border-top img {border-color: #4ac0b1;}
body .article-block-img.yellow-border-top img {border-color: #f4d738;}

body #article-main .top-section {position: relative;}

body #article-main.article-main-slide1 .block-7 {
	position: absolute;
	top: 420px;
	right: 0px;
	border: none;
	height: 60px;
}

body #article-main.article-main-slide1 .block-7.blue-border-top {background: #1eb8e4;}
body #article-main.article-main-slide1 .block-7.green-border-top {background: #b9e860;}
body #article-main.article-main-slide1 .block-7.cyan-border-top {background: #4ac0b1;}
body #article-main.article-main-slide1 .block-7.yellow-border-top {background: #f4d738;}

body #article-main.article-main-slide1 .block-7 .article-title:before {display: none;}

body #article-main.article-main-slide1 .block-7 .article-title {
	height: 60px;
	padding: 0 0 0 20px;
}

body #article-main.article-main-slide1 .block-7 .article-title h4 {
	padding: 0px;
	display: block;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	line-height: 60px !important;
}

body #article-main.article-main-slide1 .block-6 {
	margin-bottom: 90px
}

body #article-main.article-main-slide1 .article-block2,
body #article-main .article-extra1.block-8 {
	height: 204px;
	width: 265px;
	background: #fff;
	margin: 20px 0 20px 0;
	border-top-width: 4px;
}

body #article-main.article-main-slide1 .article-block2.block-3,
body #article-main .article-extra1.block-8 {
	margin-left: 20px;
	width: 408px;
	border-top: none;
	height: 208px;
}

body #article-main .article-block .article-title > span.desc {
	font-size: 14px;
	line-height: 24px;
	color: #586062;
	padding: 0 20px 0 20px;
}

body #article-main.article-main-slide1 .article-block2.block-3.article-block-img .article-title:before,
body #article-main .article-extra1.block-8 .article-title:before {
	position: absolute;
	left: 130px;
}

body #article-main.article-main-slide1 .article-block2.block-3.article-block-img img,
body #article-main .article-extra1.block-8 img {
	width: 130px;
	height: 208px;
}

body #article-main.article-main-slide1 .article-block2.block-3 h4,
body #article-main .article-extra1.block-8 h5 {
	width: 244px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 45px;
}

body #article-main.article-main-slide1 .article-block2.block-3 span.desc,
body #article-main .article-extra1.block-8 span.desc {
	padding: 0 15px;
	width: 244px;
}

body .article-main-other.cf {
	position: relative;
	height: 180px;
}

body #article-main .article-extra1.block-8  {
	position: absolute;
	bottom: 180px;
	right: 0px;
}

body #article-main .article-list, body #article-main .article-extra1 {
	width: auto;
	height: 180px;
	border-top: none;
}

body #article-main .article-list a {
	width: 550px !important;
	height: 45px;
	line-height: 45px;
	padding: 0;
	border: none;
	box-sizing: border-box;
	padding: 0 0;
	background: #fff;
	float: left;
	border-left: 4px solid;
	transition: all ease-in-out 0.3s;
}

body #article-main .article-list a h5 {
	font-size: 14px;
	font-weight: bold;
	color: #586062;
	overflow: hidden;
	white-space: nowrap;
	margin-right: 40px;
	transition: all ease-in-out 0.3s;
}

body #article-main .article-list a h5 span {
	overflow: hidden;
	white-space: nowrap;
	display: block;
	line-height: 45px;
	text-overflow:ellipsis;
}

body #article-main .article-list a:nth-child(2n+1) {
	margin: 0 20px 0 0;
}

body #article-main .article-list a:nth-child(4n), body #article-main .article-list a:nth-child(4n-1) {
	background: #fafbfb;
}

body #article-main .article-list a:after {
	display: none;
}

body #article-main .article-list a:before {
	position: absolute;
	right: 20px;
	transition: all ease-in-out 0.3s;
}

body #article-main .article-list a.blue-plus-icon:before {content:'IT / Tech';color:#1eb8e4;}
body #article-main .article-list a.green-plus-icon:before {content:'Tudomány';color:#b9e860;}
body #article-main .article-list a.cyan-plus-icon:before {content:'Film';color:#4ac0b1;}
body #article-main .article-list a.yellow-plus-icon:before {content:'Játék';color: #f4d738;}

body #article-main .article-list a.blue-plus-icon {border-color: #1eb8e4;}
body #article-main .article-list a.green-plus-icon {border-color: #b9e860;}
body #article-main .article-list a.cyan-plus-icon {border-color: #4ac0b1;}
body #article-main .article-list a.yellow-plus-icon{border-color: #f4d738;}

body #article-main .article-list a.blue-plus-icon:hover {background: #1eb8e4;}
body #article-main .article-list a.green-plus-icon:hover {background: #b9e860;}
body #article-main .article-list a.cyan-plus-icon:hover {background: #4ac0b1;}
body #article-main .article-list a.yellow-plus-icon:hover {background: #f4d738;}


body #article-main .article-list a:hover h5,
body #article-main .article-list a:hover:before {
	color: #fff;
}

body #article-main, body .cat-column {
	width: 1120px;
	margin: 0 auto;
}

body #news-main {
	background: #fafbfb;
	height: 360px;
	margin: 20px 0 !important;
	position: relative;
}

body #news-main .news-block {
	width: 370px;
	left: 50%;
	position: absolute;
	margin: 0px !important;
	margin-left: -560px !important;
}


body #news-main .news-block:nth-child(2) {
	margin-left: -190px !important;
}

body #news-main .advert {
	position: absolute;
	left: 50%;
	width: 740px !important;
	bottom: 20px;
	margin: 0 0 0 -560px !important;
	border: none;
	background: #fff;
}

body #news-main .advert .frame {width: auto !important;height: auto !important;}
body #news-main .advert .frame-inner {position: relative;}

body #news-main .advert.adpr img {margin: 20px;}
body #news-main .advert.adpr h6 {
	margin: 20px 0 0 0;
	color: #322f39;
	font-size: 18px;
}

body #news-main .advert.adpr p {
	color: #586062;
	font-size: 14px;
	line-height: 24px;
	margin: 0 0 0 100px;
}

body #news-main .fb-like-box {
	width: 360px !important;
	background: #fff;
	float: none;
	position: absolute;
	left: 50%;
	top: 20px;
	margin: 0 0 0 200px;
}

body #news-main .fb-like-box > span {
	width: 360px !important; 
}

body #news-main .fb-like-box > span iframe {
	width: 360px !important;
}

body #news-main .news-block header {
	height: 60px;
	line-height: 60px;
	border: none;
	font-size: 25px;
	color: #586062;
	padding: 0 20px;
}

body .link-blocks a {
	height: 45px !important;
	line-height: 45px !important;
	width: auto !important;
	border: none;
	background: #fff;
	display: block;
	padding: 0;
	font-size: 14px;
	color: #586062;
	float: none;
}

body .link-blocks a span {
	display: block;
	height: 45px;
	line-height: 45px;
	padding: 0 20px;
	white-space: nowrap;;
	overflow: hidden;
	text-overflow:ellipsis;
}

body .link-blocks a:nth-child(2n+2) {
	background: #fafbfb;
}

body .link-blocks a.more {
	padding: 0px 20px;
	text-align: left;
	color: rgba(88,95,97,0.4)
}

body .headers-big {
	margin: 0px;
	border-bottom-width: 4px;
}

body .headers-big h3 {
	font-size: 25px;
	font-weight: normal;
	color: #586062;
}

body .headers-big h3 a:after {
	font-size: 14px;
	color: #8f9496;
	font-style: italic;
	border-bottom: 1px dotted #cbcdcf;
	margin: 0 0 0 25px;
}

body .headers-big h3 a:hover {
	text-decoration: none;
}

body .blue-border-bottom.headers-big h3 a:after {content: 'Még több IT / Tech hír';}
body .green-border-bottom.headers-big h3 a:after {content: 'Még több Tudomány hír';}
body .cyan-border-bottom.headers-big h3 a:after {content: 'Még több Film hír';}
body .yellow-border-bottom.headers-big h3 a:after {content: 'Még több Játék hír';}

body .pull-left,body .pull-right {
	background: #fff;
}

body .pull-left {
	margin-right: 20px !important;
}

body .cat-column {
	margin: 0 auto 30px auto;
}

body .cat-column .article-block .article-title {
	border: none;
	height: auto !important;
	width: auto !important;
}

body .cat-column .article-block .article-title:before {
	display: none;
}

body .cat-column .article-block .article-title img {
	width: 100%;
	height: auto;
	border: none;
}

body .cat-column .article-block .article-title > h4, body .cat-column .article-block .article-title > h5 {
	padding: 14px 20px 6px;
}

body .cat-column .article-block .article-title > span {
	padding: 0 20px;
	font-size: 14px;
	color: #586062;
	line-height: 24px;
}

body .cat-column .article-block .more {
	display: none;
}

body .cat-column .article-block {
	padding-bottom: 20px;
	border: none;
	border-bottom: 1px solid #eef1f3;
	width: auto !important;
	height: auto !important;
	margin-right: 0px !important;
}

body .article-block .comments {
	float: none;
	padding: 0;
	margin: 0 20px 0 20px;
	height: auto;
	line-height: normal;
	font-style: normal;
	font-size: 13px;
}

body .article-block .comments:before {
	content: '\f075';
	font-style: normal;
	font-family: 'FontAwesome';
	font-size: 18px;
	color: #cdcfd0;
	margin: 0 10px 0 0;
}

body .article-block .comments:hover {
	background: none;
	color: #777;
}

body .link-blocks a:after {display: none;}
body .link-blocks a:hover {background: #1eb8e4}

body .link-blocks.blue-plus-icon a:hover {background: #1eb8e4;}
body .link-blocks.green-plus-icon a:hover {background: #b9e860;}
body .link-blocks.cyan-plus-icon a:hover {background: #4ac0b1;}
body .link-blocks.yellow-plus-icon a:hover {background: #f4d738;}


/* v1 */
body .cat-column.var-1 > .pull-left {width: 740px;}
body .cat-column.var-1 > .pull-right {width: 360px;}

/* v2 */
body .cat-column.var-2 > .pull-left, body .cat-column.var-2 > .pull-right {width: 360px;}
body .cat-column.var-2 > .pull-right .article-title {height: auto;}
body .cat-column.var-2 > .pull-right .article-block-3 {margin: 0;}

/* v3 */
body .cat-column.var-3 .article-block .article-title {height: auto;}
body .cat-column.var-3 > .pull-left {width: 265px;}
body .cat-column.var-3 > .pull-right {width: 265px;}

/* v4 */
body .cat-column.var-4 > .pull-left {width: 265px;}
body .cat-column.var-4 > .pull-right {width: 265px;}
body .cat-column.var-4 > .pull-left:first-of-type {width:550px;}
body .cat-column.var-4 .article-block-1 {width: auto;margin-right: 0;padding-bottom:0}
body .cat-column.var-4 .article-block-1 a img {float: left;width:275px;}
body .cat-column.var-4 .article-block-1 h4, body .cat-column.var-4 .article-block-1 span {width: 235px;}
body .cat-column.var-4 .article-block-1 a.comments {margin-left: 295px;}
body .cat-column.var-4 .article-block-1 .article-title {height: auto;}
body .cat-column.var-4 .article-block-1 .article-title:after {display: none;}

/* v5 */
body .cat-column.var-5 > .pull-left {width: 360px;}
body .cat-column.var-5 > .pull-right {width: 360px;}

/* v6 */
body .cat-column.var-6 > .pull-left {width: 455px;}
body .cat-column.var-6 > .pull-right {width: 645px;}




body #footer {
	width: 100%;
}

body #footer-top {
	height: 40px;
}

body #footer-bottom {
	height: 40px;
}

body #footer nav a {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	transition: all ease-in-out 0.3s;
	margin: 0;
	padding: 0 15px;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,0.85);
}

body #footer .page-center {
	width: 1120px;
}

body #footer nav a:hover {
	background: #282828;
	text-decoration: none;
}

body #footer .contact,
body #footer .copyright {
	margin: 0 20px 0 20px;
	position: relative;
	color: rgba(255,255,255,0.6);
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	left: 0px;
	float: left;
	height: 40px;
	line-height: 40px;
}

body #footer .copyright  {float: right;}